
@model eX_Portal.ViewModel.DroneServiceViewModel
@{
    ViewBag.Title = "UAS Service Edit";
    Layout = "~/Views/Shared/_exPortal.cshtml";
}

<section class="general-form">
    @using (Html.BeginForm())
    {



        @Html.HiddenFor(model => model.DroneService.ServiceId)

        <div class="editor-label">
            @Html.LabelFor(model => model.DroneService.DroneId, "UAS Name")
        </div>
        <div class="editor-field">

            @Html.DropDownListFor(model => model.DroneService.DroneId, Model.DroneList)

        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DroneService.TypeOfService, "Service Type")
        </div>
        <div class="editor-field">

            @Html.DropDownListFor(model => model.DroneService.TypeOfService, Model.ServiceType)
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DroneParts.PartsName, "Parts Refurbished")
        </div>
        <div class="editor-field">
            <input type="text" id="SelectItemsForRefurbished" placeholder="Enter the Part name, Model or Supplier to Search" />
            @Html.Action("ServicePartsRefurbished", "DroneService", new { ID = ViewBag.ServiceId })
           <!-- <table class="report" id="Table_SelectItemsForRefurbished" style="display:normal;">
                <thead>
                    <tr>
                        <th>Parts Name</th>
                        <th>Model</th>
                        <th>Supplier</th>
                        <th>Qty</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
            </table>-->
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.DroneParts.PartsName, "Parts Replaced")
        </div>
        <div class="editor-field">
            <input type="text" placeholder="Enter the Part name, Model or Supplier to Search" id="SelectItemsForReplaced" />
            @Html.Action("ServicePartsReplaced", "DroneService", new { ID = ViewBag.ServiceId})

         <!--   <table class="report" id="Table_SelectItemsForReplaced" style="display:normal;">
                <thead>
                    <tr>
                        <th>Parts Name</th>
                        <th>Model</th>
                        <th>Supplier</th>
                        <th>Qty</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
            </table>-->
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.DroneService.Description, "Description")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.DroneService.Description, 10, 55, null)

        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DroneService.FlightHour, "Flight Hour")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DroneService.FlightHour)

        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.DroneService.DateOfService, "Date Of Service")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DroneService.DateOfService, new { htmlAttributes = new { @class = "date-picker" } })
            @Html.ValidationMessageFor(model => model.DroneService.DateOfService)
        </div>


        <div class="form-toolbar">
            <input type="submit" value="Save" />
        </div>
    }
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            
           
      $('#SelectItemsForRefurbished').autocomplete({
        source: "/AutoComplete/Parts/",
        minLength: 2,
        select: AutoCompleteSelect
      });
      $('#SelectItemsForReplaced').autocomplete({
        source: "/AutoComplete/Parts/",
        minLength: 2,
        select: AutoCompleteSelect
      });

      $('#Table_SelectItemsForRefurbished').on("click", "a.delete", function () {
        $(this).parent().parent().remove();
      })

      $('#Table_SelectItemsForReplaced').on("click", "a.delete", function () {
        $(this).parent().parent().remove();
      })
     

    });

    

        



    function AutoCompleteSelect(event, ui) {
      event.preventDefault();
      var ID = $(event.target).prop("id");
      $('#Table_' + ID).show();
      $('#'+ ID).val('');
      var HTML = "<tr>" +
        "<td>" + ui.item.PartsName +
        '<input type="hidden" name="' + ID + '" value="' + ui.item.id + '">' +
        "</td>\n" +
        "<td>" + ui.item.Model + "</td>\n" +
        "<td>" + ui.item.Supplier + "</td>\n" +
        '<td><input style="width:40px;" type="text" name="' + ID + '_' + ui.item.id + '"></td>\n' +
        '<td><a class="delete" href="#">x</a></td>\n' +
        '</tr>';
      $('#Table_' + ID).append(HTML);
      }
    </script>
}