@model eX_Portal.ViewModel.MSTR_NOC_Ext
@using eX_Portal.exLogic;
@{
  ViewBag.Title = $"NOC Application - #{Model.NocApplicationID}";
}

<section class="top-space">

  <section class="top-space">
    <div class="noc-header">
      <div class="noc-status">
        <ul>
          <li class="New">@Model.CountNew New</li>
          <li class="Approved">@Model.CountApproved Approved</li>
          <li class="Rejected">@Model.CountRejected Rejected</li>
          <li class="Amended">@Model.CountAmended Amended</li>
          <li id="btnSwitch3D" class="button"><span class="icon">&#xf0ac;</span>3D MAP</li>
          <li style="display:none;" id="btnSwitch2D" class="button"><span class="icon">&#xf279;</span>2D MAP</li>
        </ul>

      </div>
      <div class="title">@Model.AccountName</div>
      <div class="sub-title">@Model.FlightType for @Model.FlightFor</div>
      <div class="sub-sub-title">@Model.sStartDate - @Model.sEndDate</div>
    </div>
  </section>

</section>



<section id="noc-sections" class="top-space top-border">
  <div id="section-left">
    <ul>
      @foreach (eX_Portal.Models.NOC_Details noc in Model.NOC_Details) {
        <li class="noc-li-item" data-nocid="@noc.NocID">
          @noc.StartDate.ToString("dd-MMM-yyyy")
          @noc.StartTime.ToString().Substring(0, 5)
          <br />
          @noc.EndDate.ToString("dd-MMM-yyyy")
          @noc.EndTime.ToString().Substring(0, 5)
        </li>
      }
    </ul>
  </div>
  <div id="section-right">
    <div id="content"></div>
    <div id="GoogleMap"></div>
    <div style="display:none;" id="cesiumContainer"></div>
  </div>
  <div style="clear:both">&nbsp;</div>
</section>



@foreach (eX_Portal.Models.NOC_Details noc in Model.NOC_Details) {
  <div style="display:none" id="noc-section-@noc.NocID">
    @Html.Action("NocDetail", new { ID = noc.NocID })
  </div>
}




@section header {
  <link type="text/css" rel="stylesheet" href="~/Content/NOC_Process.css" />
  <link type="text/css" rel="stylesheet" href="~/Cesium/Widgets/widgets.css" />
  <link type="text/css" rel="stylesheet" href="~/Content/NOC_Register.css" />
}

@section toolbar {
  <ul class="toolbar">
    <li><a href="@Url.Action("Home")"> Back </a></li>
  </ul>
}



@section scripts {
  <script type="text/javascript">
    var NOCDetails = {};
    @foreach (var NOC in Model.NOC_Details) {
      @Html.Raw($"NOCDetails[{NOC.NocID}] = {{")
      @Html.Raw($"\"Coordinates\":\"{NOC.Coordinates}\",")
      @Html.Raw($"\"OuterCoordinates\":\"{NOC.OuterCoordinates}\",")
      @Html.Raw($"\"Altitude\": {NOC.MaxAltitude},")
      @Html.Raw($"\"Toolbar\":\"{NOC.StartDate.ToString("dd-MMM-yyyy")} {NOC.StartTime.ToString().Substring(0, 5)} to {NOC.EndDate.ToString("dd-MMM-yyyy")} {NOC.EndTime.ToString().Substring(0, 5)}\"")
      @Html.Raw("};")
    }
  </script>
  <script src="~/Cesium/Cesium.js"></script>
  <script type="text/javascript" src="//maps.google.com/maps/api/js?key=AIzaSyD_zdKS2syz3Jqr8F_jZRLsJj0u73-lfog"></script>
  <script src="~/Scripts/ADSB-Map.js"></script>
  <script src="~/Scripts/NOC_3D.js"></script>


}
