@model eX_Portal.ViewModel.MSTR_NOC_Ext
@using eX_Portal.exLogic;
@{
  ViewBag.Title = $"NOC Application - #{Model.NocApplicationID}";
}

<section class="top-space">

  <section class="top-space">
    <div class="noc-header">
      <div class="noc-status">
        <ul>
          <li class="New">@Model.CountNew New</li>
          <li class="Approved">@Model.CountApproved Approved</li>
          <li class="Rejected">@Model.CountRejected Rejected</li>
          <li class="Amended">@Model.CountAmended Amended</li>
        </ul>
      </div>
      <div class="title">@Model.AccountName</div>
      <div class="sub-title">@Model.FlightType for @Model.FlightFor</div>
      <div class="sub-sub-title">@Model.sStartDate - @Model.sEndDate</div>
    </div>
  </section>

</section>


@foreach (eX_Portal.Models.NOC_Details noc in Model.NOC_Details) {
  <section id="noc-section-@noc.NocID" class="top-space top-border">
    <div id="frm" class="column column-half form-horizontal NoBorder" style="margin-bottom:10px;">
      @Html.Action("NocDetail", new { ID = noc.NocID })
    </div>
    <div id="frm" class="column column-half form-horizontal NoBorder" style="margin-bottom:10px; position:relative">
      <div class="OverlayButton">
        <div data-nocid="@noc.NocID"  class="noc-3d-view button">3D View</div>
      </div>
      <img width="567" height="300" src="@Html.Action("StaticGoogleMap", new { NocID = noc.NocID })" />
    </div>
  </section>
}

<div id="cesiumContainer"></div>


@section header {
  <link type="text/css" rel="stylesheet" href="~/Content/NOC_Process.css" />
<link type="text/css" rel="stylesheet" href="~/Cesium/Widgets/widgets.css" />
<link type="text/css" rel="stylesheet" href="~/Content/NOC_Register.css" />
}

@section toolbar {
  <ul class="toolbar">
    <li><a href="@Url.Action("Index")"> Cancel </a></li>
  </ul>
}



@section scripts {
  <script type="text/javascript">
    var NOCDetails = {};
    @foreach (var NOC in Model.NOC_Details) {
      @Html.Raw($"NOCDetails[{NOC.NocID}] = {{")
      @Html.Raw($"\"Coordinates\":\"{NOC.Coordinates}\",")
      @Html.Raw($"\"OuterCoordinates\":\"{NOC.OuterCoordinates}\",")
      @Html.Raw($"\"Altitude\": {NOC.MaxAltitude},")
      @Html.Raw($"\"Toolbar\":\"{NOC.StartDate.ToString("dd-MMM-yyyy")} {NOC.StartTime.ToString().Substring(0, 5)} to {NOC.EndDate.ToString("dd-MMM-yyyy")} {NOC.EndTime.ToString().Substring(0, 5)}\"")
      @Html.Raw("};")
    }
  </script>
  <script src="~/Cesium/Cesium.js"></script>
  <script src="~/Scripts/NOC_3D.js"></script>
}