@model eX_Portal.exLogic.TrafficMamager
@{
  ViewBag.Title = "Dashboard";
  ViewBag.Logo = "dmat-logo.png";
  Layout = "~/Views/Shared/_ADSB.cshtml";
}

<section class="top-space">
  <div class="column column-half">
    <div class="title-bar">
      Traffic Information
      <span class="button"><a href="@Url.Action("Export", new {DroneID = Model.DroneID, FlightID = Model.FlightID, Interval = 5})">Export</a></span>
    </div>
    <div id="dmat-layout">
      <div id="dmat-pos-u">
        <div class="zone">Zone 3</div>
        <ul class="traffic-data">
          <li><label>Straight <i>UU</i>:</label> <div id="data-uu">-</div></li>
          <li><label>U-Turn <i>UD</i>:</label> <div id="data-ud">-</div></li>
          <li><label>Left <i>UL</i>:</label> <div id="data-ul">-</div></li>
          <li><label>Right <i>UR</i>:</label> <div id="data-ur">-</div></li>
        </ul>
      </div>
      <div id="dmat-pos-r">
        <div class="zone">Zone 4</div>
        <ul class="traffic-data">
          <li><label>Straight <i>RR</i>:</label> <div id="data-rr">-</div></li>
          <li><label>U-Turn <i>RL</i>:</label> <div id="data-rl">-</div></li>
          <li><label>Left <i>RU</i>:</label> <div id="data-ru">-</div></li>
          <li><label>Right <i>RD</i>:</label> <div id="data-rd">-</div></li>
        </ul>

      </div>
      <div id="dmat-pos-d">
        <div class="zone">Zone 1</div>
        <ul class="traffic-data">
          <li><label>Straight <i>DD</i>:</label> <div id="data-dd">-</div></li>
          <li><label>U-Turn <i>DU</i>:</label> <div id="data-du">-</div></li>
          <li><label>Left <i>DR</i>:</label> <div id="data-dr">-</div></li>
          <li><label>Right <i>DL</i>:</label> <div id="data-dl">-</div></li>
        </ul>

      </div>
      <div id="dmat-pos-l">
        <div class="zone">Zone 2</div>
        <ul class="traffic-data">
          <li><label>Straight <i>LL</i>:</label> <div id="data-ll">-</div></li>
          <li><label>U-Turn <i>LR</i>:</label> <div id="data-lr">-</div></li>
          <li><label>Left <i>LD</i>: </label> <div id="data-ld">-</div></li>
          <li><label>Right <i>LU</i>:</label> <div id="data-lu">-</div></li>
        </ul>

      </div>

      <div id="dmat-info">
        <ul class="traffic-data-info">
          <li><label>Frame Number:</label> <div id="data-framenumber">-</div></li>
          <li><label>Time:</label> <div id="data-frametime">-</div></li>
          <li><label>Now:</label> <div id="data-date">0000-00-00 00:00:00</div></li>
          <li><div id="data-location">@Model.GetLocation()</div></li>
        </ul>

      </div>
    </div>
  </div>

  <div class="column column-half shaded">
    <div class="title-bar">
      MAP Video:
    </div>
    <div id="map-video" class="column-half">
      <video id="FlightVideo" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="none"></video>
    </div>
  </div>

</section>


<p>&nbsp;</p>
@section scripts {
<script type="text/javascript">
    var DroneID = @Model.DroneID
    var FlightID = @Model.FlightID;
    var _FlightVideos = @Html.Raw(Model.GetTrafficVideos());
</script>

  <script type="text/javascript" src="~/Scripts/AgricultureCommon.js"></script>
  <script type="text/javascript" src="~/Scripts/traffic-dmat.js"></script>
  <script src="~/video-js/videojs-vtt.js"></script>
  <script src="~/video-js/video.min.js"></script>
  <script src="~/video-js/videojs-playlist.js"></script>
  <script src="~/video-js/videojs-contrib-hls.min.js"></script>
}

@section header {
  <link href="~/Content/Traffic-Dmat.css" rel="stylesheet" />
  <link href="~/video-js/video-js.min.css" rel="stylesheet">
  <style type="text/css">
    #FlightVideo {
      width:567px;
      height:460px;
    }

  </style>
}


