@model eX_Portal.exLogic.DroneCheckListForm

@Html.Action("DroneDetail", "Drone", new { ID = Model.DroneID })



<h2>@Model.CheckListSubTitle</h2>



<form method="post" action="@Url.Action()">

  <!--section show items with zero index on top one-->



  <table class="cheklist">
    <thead>
      <tr>
        <th rowspan="2">No.</th>
        <th rowspan="2">Checklist Steps</th>
        <th  rowspan="2">Responsibility</th>
        <th class="colspan" colspan="2">Range / Required</th>
      </tr>
      <tr>
        <th>Min</th>
        <th>Max</th>
      </tr>
    </thead>

    @foreach (var item in Model.CheckItems) {
      <tr>
        @if ((item.SlNo % 1) == 0) {
          <td>@item.SlNo.ToString("##0.0")</td>
          <td>@item.Title</td>
        } else {
          <td>&nbsp;</td>
          <td>@item.SlNo.ToString("##0.0")<span class="sub-item">@item.Title</span></td>
        }
        <td>@item.Responsibility</td>
        <td class="entry-field">@Html.Raw(item.getValidationFieldMin())</td>
        <td class="entry-field">@Html.Raw(item.getValidationFieldMax())</td>

      </tr>
    }
  </table>

  <div class="form-toolbar">
    <input type="submit" value="Save Checklist" />
  </div>
  <input type="hidden" name="CheckListID" value="@Model.CheckListID">
  <input type="hidden" name="DroneID" value="@Model.DroneID">
</form>