@model eX_Portal.exLogic.DroneCheckListForm
@{
  ViewBag.Title = Model.CheckListTitle;
}
@Html.Action("DroneFlightDetail", "DroneFlight", new { ID = ViewBag.FlightID })



<h2>@Model.CheckListSubTitle</h2>



  <!--section show items with zero index on top one-->
  @if (Model.HeaderCheckItems.Any()) {
    <table class="cheklist">
      @foreach (var item in Model.HeaderCheckItems) {
        <tr>
          <td>@item.Title</td>
          <td class="note-field">@item.getValue()</td>
        </tr>
      }
    </table>
  }


  <table class="cheklist">
    <thead>
      <tr>
        <th>No.</th>
        <th>Checklist Steps</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>Responsibility</th>
        <th>Note</th>
      </tr>
    </thead>
    @foreach (var item in Model.CheckItems) {
      <tr>
        @if ((item.SlNo % 1) == 0) {
          <td>@item.SlNo.ToString("##0.0")</td>
          <td>@item.Title</td>
        } else {
          <td>&nbsp;</td>
          <td>@item.SlNo.ToString("##0.0")<span class="sub-item">@item.Title</span></td>
        }
        <td class="entry-field">@item.getValue()</td>
        <td>@if (!item.isValid) {
          <span class="info">Check Failed</span>
        }</td>
        <td>@item.Responsibility</td>
        <td class="note-field">@item.FieldNote</td>
      </tr>
    }
  </table>

  <div class="form-toolbar">
    <a class="button" href="@Url.Action("Detail", "DroneFlight", new {ID= ViewBag.FlightID })">Continue</a>
  </div>

