@model eX_Portal.ViewModel.FlightViewModel
@{ 
  Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Untitled 1</title>
<style type="text/css">
.auto-style1 {
  text-align: right;
}
.auto-style3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  color: #EA050E;
}
.auto-style2 {
  font-family: Arial, Helvetica, sans-serif;
}
.auto-style4 {
  text-align: center;
}
.auto-style5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: #EA050E;
}
.auto-style6 {
  text-align: left;
}
.auto-style7 {
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
}
</style>
</head>
<body>
<table style="width: 100%">
  <tr>
    <td valign="top"><img alt="" height="62" src="../../images/logo.png" width="300" /></td>
    <td class="auto-style1" valign="top"><span class="auto-style3"><strong>Post Flight Report</strong></span></td>
  </tr>
</table>
<p class="auto-style4">
    <span class="auto-style5"><strong>@Html.DisplayFor(Model => Model.DroneName) </strong></span><strong><br class="auto-style5" />
    </strong>
    <span class="auto-style2">Flight ID: 323</span></p>
<table cellpadding="4" cellspacing="0" style="width: 100%" border="2" BORDERCOLOR="#ea050e" >
  <tr>
    <td bgcolor="#ea050e"><font face="Arial, Helvetica, sans-serif" color="white"><strong>Basic Flight Information</strong></font></td>
  </tr>
  <tr>
    <td class="auto-style2">
    <table style="width: 100%">
      <tr>
        <td>ID: @Html.DisplayFor(Model =>Model.ID)</td>
        <td>Pilot: @Html.DisplayFor(Model => Model.PilotName)</td>
        <td>Ground Staff: @Html.DisplayFor(Model => Model.GSCName)</td>
      </tr>
      <tr>
        <td>UAS ID:@Html.DisplayFor(Model => Model.DroneName)</td>
        <td>Created On: </td>
        <td>Flight Date:</td>
      </tr>
    </table>
    </td>
  </tr>
</table>
<p class="auto-style6">&nbsp;&nbsp; &nbsp;</p>
<table cellpadding="4" cellspacing="0" style="width: 100%" border="2" BORDERCOLOR="#ea050e" >
  <tr>
    <td bgcolor="#ea050e"><font face="Arial, Helvetica, sans-serif" color="white"><strong>Weather Information</strong></font></td>
  </tr>
  <tr>
    <td class="auto-style2">
    <table style="width: 100%">
      <tr>
        <td>Wind:</td>
        <td>Visibility:</td>
        <td>Pressure:</td>
        <td>Temp:</td>
      </tr>
    </table>
    </td>
  </tr>
</table>
<p class="auto-style6">&nbsp;</p>
<table cellpadding="4" cellspacing="0" style="width: 100%" border="2" BORDERCOLOR="#ea050e" >
  <tr>
    <td bgcolor="#ea050e" class="auto-style7"><strong>Flight Track</strong></td>
  </tr>
  <tr>
    <td class="auto-style2"><img src="@Html.Action("GoogleMap","Report", new { ID = ViewBag.FlightID })" /></td>
  </tr>
</table>
<p class="auto-style6">&nbsp;</p>
<table cellpadding="4" cellspacing="0" style="width: 100%" border="2" BORDERCOLOR="#ea050e" >
  <tr>
    <td bgcolor="#ea050e" class="auto-style7"><strong>Chart &amp; Flight Parameters</strong></td>
  </tr>
  <tr>
    <td class="auto-style2"><img src="http://localhost:2727/Report/GetChart/@ViewBag.FlightID" /></td>
  </tr>
</table>

@Html.Action("DroneCheckWarning", "Report", new { ID = ViewBag.FlightID })

<p class="auto-style6">&nbsp;</p>
<table cellpadding="4" cellspacing="0" style="width: 100%" border="2" BORDERCOLOR="#ea050e" >
  <tr>
    <td bgcolor="#ea050e"><font face="Arial, Helvetica, sans-serif" color="white"><strong>Warning/Alerts</strong></font></td>
  </tr>
  
                    @foreach (var element in Model.PortalAlerts)
                    {
                        <tr>
                            <td class="auto-style2">
                                @Html.DisplayFor(m => element.AlertType)
                            </td>
                            <td class="auto-style2">
                                @Html.DisplayFor(m => element.AlertMessage)
                            </td>
                         
                        </tr>
                    }
    
</table>


</body>

</html>

