@model eX_Portal.ViewModel.FlightViewModel
@using eX_Portal.exLogic;
@{
  Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>Post Flight Report - #@Html.DisplayFor(Model => Model.ID)</title>
  <style type="text/css">
    @@font-face {
      font-family: 'GeneralText';
      src: url('../fonts/DINNextLTPro-Light.eot');
      src: local('☺'), url('/fonts/DINNextLTPro-Light.woff') format('woff'), url('/fonts/DINNextLTPro-Light.ttf') format('truetype'), url('/fonts/DINNextLTPro-Light.svg') format('svg');
      font-weight: normal;
      font-style: normal;
    }

    @@font-face {
      font-family: 'FontAwesome';
      src: url('/fonts/fontawesome-webfont.eot?v=4.5.0');
      src: url('/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('/fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('/fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('/fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
      font-weight: normal;
      font-style: normal;
    }

    div.sub-heading {
      font-size: 16pt;
      padding: 0px 0px 0px 10px;
      border-left: green 10px solid;
      margin: 10px 0px 10px 10px;
    }

    body {
      font-family: GeneralText;
    }


    th {
      background-color: #c2c2c2;
      color: black;
      text-align: left;
    }

    h1 {
      font-size: 22pt;
      margin: 20px 0px 5px 0px;
      padding: 0px;
    }

    h3 {
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 10px 0px;
    }

    #GoogleMap {
      width: 100%;
      height: 600px;
      display:block;
    }

    ul.proximity {
      margin: 0px;
      padding: 0px;
      list-style: none;
    }

      ul.proximity li {
        margin: 0px;
        padding: 0px;
      }

        ul.proximity li span {
          color: rgb(255, 89, 0)
        }
    td.bill_amount_total,
    td.bill_amount {
      white-space: nowrap;
      font-size: 15px;
      color: #287bff;
      text-align:right;
    }
    td.bill_amount_total {
      font-size:22px;
    }
    div.billing-detail {
      color:#484848;
      font-size:10pt;
    }
  </style>
</head>
<body>
  <table style="width: 100%;">
    <tr>
      <td valign="top"><img alt="" height="62" src="~/images/adsb-logo.png" /></td>
      <td valign="top" align="right" color="#ea050e">
        <font size="5"><strong>Post Flight Report - #@Html.DisplayFor(Model => Model.ID)</strong></font><br />
        <font color="#ea050e" size="3">@Html.DisplayFor(Model => Model.DroneName)</font><br />
      </td>
    </tr>
  </table>
  <div style="margin-top:10px; background-color:silver; height:2px; font-size:1px;">&nbsp;</div>

  <h1>Basic Flight Information</h1>

  <table style="width: 100%">
    <tr>
      <td>Pilot: @Html.DisplayFor(Model => Model.PilotName)</td>
      <td>Ground Staff: @Html.DisplayFor(Model => Model.GSCName)</td>

    </tr>
    <tr>
      <td>Created On (UTC)@Model.getCreatedOn()</td>
      <td>Flight Date (UTC): @Model.getFlightDate() </td>
    </tr>
  </table>



  @if (Model.Info != null) {
    <h1>Flight Summary</h1>
    <table width="100%">
      <tr>
        <td valign="top">
          <b>General</b>
          <table>
            <tr>
              <td>Flight Time </td>
              <td>:</td>
              <td>@Model.getFlightTime() (HH:MM:SS)<br /></td>
            </tr>
            <tr>
              <td>Distance:</td>
              <td>:</td>
              <td>@Util.toFix(Model.FlightDistance) Meters</td>
            </tr>
          </table>
        </td>

        <td valign="top">
          <b>Speed</b> (Meter per Hour)
          <table>

            <tr>
              <td>Average</td>
              <td>:</td>
              <td>@Util.toFix(Model.Info.AvgSpeed)</td>
            </tr>
            <tr>
              <td>Maximum</td>
              <td>:</td>
              <td>@Util.toFix(Model.Info.MaxSpeed)</td>
            </tr>
          </table>

        </td>

        <td valign="top">
          <b>Altitude</b> (Meters)
          <table>
            <tr>
              <Td>Average</Td>
              <td>:</td>
              <td>@Util.toFix(Model.Info.AvgAltitude)</td>
            </tr>
            <tr>
              <td>Maximum</td>
              <td>:</td>
              <td>@Util.toFix(Model.Info.MaxAltiude) </td>
            </tr>
          </table>


        </td>


        <td valign="top">
          <b>Satellites</b>
          <table>
            <tr>
              <td>Minimum</td>
              <td>:</td>
              <td>@Util.toFix(Model.Info.MinSatellites)</td>
            </tr>
            <tr>
              <td>Maximum</td>
              <td>:</td>
              <td>@Util.toFix(Model.Info.MaxSatellites)</td>
            </tr>
          </table>
        </td>

      </tr>
    </table>
  }



  @if (Model.Info != null) {
    <h1>Weather</h1>
    <table cellpadding="4" cellspacing="0" style="width: 100%">
      <tr>
        <td>Condition: @Model.Info.Condition</td>
        <td>Wind : @Util.toFix(Util.toDouble(Model.Info.WindSpeed)) kph</td>
        <td>Humidity: @Model.Info.Humidity %</td>
      </tr>

      <tr>
        <td>Visibility: @Util.toFix(Model.Info.Visibility) kilometers</td>
        <td>Pressure: @((int)Model.Info.Pressure) millibars</td>
        <td>Temperature: @Model.Info.Temperature Degree Celsius</td>
      </tr>
    </table>

    <h1>Flight Track</h1>


    @*<div id="GoogleMap"></div>*@
    <img width="640" height="480" src="@Html.Action("GoogleMap", "Report", new { ID = ViewBag.FlightID, ApprovalID = Model.ApprovalID})" />
    <div style="page-break-after: always;"></div>
  } @*if (Model.Info != null)*@


  
  <h1>Flight Chart</h1>
  <table width="100%" style="width:100%;">
    <tr>
      <td width="50%">
        <div style="border-left-color:rgb(255, 89, 0);" class="sub-heading pitch">Pitch</div>
        <img style="width:100%;" src="/Report/GetChart/@ViewBag.FlightID?ChartType=Ptich" />
      </td>
      <td width="50%">
        <div style="border-left-color:rgb(153, 131, 199);" class="sub-heading roll">Roll</div>
        <img style="width:100%; height:auto" src="/Report/GetChart/@ViewBag.FlightID?ChartType=Roll" />
      </td>
    </tr>
    <tr>
      <td width="50%">

        <div style="border-left-color:rgb(11, 144, 118);" class="sub-heading speed">Speed</div>
        <img style="width:100%; height:auto" src="/Report/GetChart/@ViewBag.FlightID?ChartType=Speed" />
      </td>
      <td width="50%">
        <div style="border-left-color:rgba(101, 186, 25,1);" class="sub-heading satellite">Satellite</div>
        <img style="width:100%; height:auto" src="/Report/GetChart/@ViewBag.FlightID?ChartType=Satellite" />
      </td>
    </tr>
    <tr>
      <td width="50%">
        <div style="border-left-color:rgb(219, 211, 1);" class="sub-heading altitude">Altitude</div>
        <img style="width:100%; height:auto" src="/Report/GetChart/@ViewBag.FlightID?ChartType=Altitude" />
      </td>
      <td width="50%">&nbsp;</td>
    </tr>
  </table>




  @if (Model.PortalAlerts.Count > 0) {

    <h1>Warning/Alerts</h1>

    <table width="100%" border="1" cellspacing="0" bordercolor="silver" style="border-collapse:collapse" cellpadding="5">
      <thead>
        <tr>
          <th>Date &amp; Time (UTC)</th>
          <th>Category</th>
          <th>Level</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Altitude (Meter)</th>
        </tr>
      </thead>
      @foreach (var element in Model.PortalAlerts) {
        if (element.AlertCategory == "Altitude" && element.Altitude == 0) {
        } else {
          <tr>
            <td>@(((DateTime)(element.FlightReadTime)).ToString("dd-MMM-yyyy HH:mm:ss"))</td>
            <td>@element.AlertCategory</td>
            <td>@element.AlertType</td>
            <td>@(((Decimal)element.Latitude).ToString(element.Latitude > 0 ? "0.00000N" : "0.00000S"))</td>
            <td>@(((Decimal)element.Longitude).ToString(element.Longitude > 0 ? "0.00000E" : "0.00000W"))</td>
            <td>@element.Altitude</td>
          </tr>
          if (!String.IsNullOrEmpty(element.Proximity)) {
            ProximityInfo item = Newtonsoft.Json.JsonConvert.DeserializeObject<ProximityInfo>(element.Proximity);
            <tr>
              <td></td>
              <td colspan="5">
                <ul class="proximity">
                  <li><span>UAS:</span> @item.DroneName</li>
                  <li><span>Organization:</span> @item.AccountName</li>
                  <li><span>Pilot:</span> @item.PilotName</li>
                  <li><span>Location:</span> @item.Location</li>
                  <li><span>Altitude:</span> @item.Altitude Meter</li>
                  <li><span>Distance:</span> @item.Distance Meter</li>
                </ul>

              </td>
            </tr>
          }
        }
      }
    </table>

  }@*if (Model.PortalAlerts.Count > 0)*@

  @if (Model.Videos.Count > 0) {
    <h3>Recorded Videos</h3>
    <ul>
      @foreach (var element in Model.Videos) {
        <li style="padding:10px 0px 10px 0px; ">@element.VideoURL</li>
      }
    </ul>

  }@*if (Model.PortalAlerts.Count > 0)*@


  @if (Model.Approvals.Count > 0) {
    <h1>Zone Approvals</h1>
    <table width="100%" border="1" cellspacing="0" cellpadding="5" bordercolor="silver" style="border-collapse:collapse">
      <thead>
        <tr>
          <th>Approval Name</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Start Time</th>
          <th>End Name</th>
          <th>Min Altitude</th>
          <th>Max Altitude</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model.Approvals) {
        <tr>
          <td>
            @item.ApprovalName
            @if (item.ApprovalID == Model.ApprovalID) {
              <img src="~/bullet_green.png" width="10" height="10" />
            }
          </td>
          <td style="white-space:nowrap">@(item.StartDate == null ? "N/A" : ((DateTime)(item.StartDate)).ToString("dd-MMM-yyyy"))</td>
          <td style="white-space:nowrap">@(item.EndDate == null ? "N/A" : ((DateTime)(item.EndDate)).ToString("dd-MMM-yyyy"))</td>
          <td style="white-space:nowrap">@item.StartTime</td>
          <td style="white-space:nowrap">@item.EndTime</td>
          <td style="white-space:nowrap">@(((int)(item.MinAltitude)).ToString("#0"))</td>
          <td style="white-space:nowrap">@(((int)(item.MaxAltitude)).ToString("#0"))</td>
        </tr>
      }
    </tbody>
  </table>
  }@*if (Model.PortalAlerts.Count > 0)*@


  <h1>Billing</h1>
  @{ 
    Decimal TotalAmount = 0;
  }
  <table width="100%" border="1" cellspacing="0" cellpadding="5" bordercolor="silver" style="border-collapse:collapse">
    @foreach (var bill in Model.Billing) {
      TotalAmount = TotalAmount + bill.CalculatedCost;
      <tr>
        <td valign="top">@(String.Equals(bill.CalculateOn, "NOC_Details") ? "NOC" : "Flight")</td>
        <td style="width:100%;" valign="top">
          @bill.RuleName
          <div class="billing-detail">@bill.RuleDescription</div>
        </td >
        <td valign="top" class="bill_amount">@String.Format("{0:n}", bill.CalculatedCost) AED</td>
      </tr>
    }
    <tr>
      <td>&nbsp;</td>
      <td style="width:100%;">
        Total
      </td>
      <td class="bill_amount_total">@String.Format("{0:n}",TotalAmount) AED</td>
    </tr>

  </table>

  <p>&nbsp;</p>
</body>

</html>
