@model eX_Portal.exLogic.FlightReportFilter
@{
  Layout = null;
}
<form method="GET" action="@Request.Url.AbsoluteUri" id="ReportFilterForm" name="ReportFilterForm">
   <table class="ReportFilter" cellpadding="0" cellspacing="0">
   <tr>
     <td>From Date:</td>
      <td><input class="date-picker" type="text" name="From" value="@Model.From" /></td>
     <td>&nbsp;</td>
      <td>Pilot:<input type="hidden" name="Pilot" value="@Model.Pilot" /></td>
     <td><input style="width:400px;" id="PilotName" type="text" name="PilotName" value="@Model.getPilotName()" /></td>
     <td  rowspan="2">
       <table cellpadding="0" cellspacing="0">
         <tr>
           <td><input id="Proximity" @(Model.Proximity > 0 || Model.ProximityCritical > 0 ? "checked" : "") type="checkbox" name="Proximity" value="1" /></td>
           <td><label for="Proximity">Proximity</label></td>
         </tr>
         <tr>
           <td><input id="Boundary" @(Model.Boundary > 0 || Model.BoundaryCritical > 0 ? "checked" : "") type="checkbox" name="Boundary" value="1" /></td>
           <td><label for="Boundary">Boundary</label></td>
         </tr>
         <tr>
           <td><input id="Height" @(Model.Height > 0 || Model.HeightCritical > 0 ? "checked" : "") type="checkbox" name="Height" value="1" /></td>
           <td><label for="Height">Altitude</label></td>
         </tr>
       </table>
     </td>
     <td style="width:100%;"></td>
     <td rowspan="2"><input class="button" type="submit" value="Generate" /></td>
   </tr>
   <tr>
     <td>To Date: </td>
     <td><input class="date-picker" type="text" name="To" value="@Model.To" /></td>
     <td>&nbsp;</td>
     <td>RPAS: <input type="hidden" name="UAS" value="@Model.UAS" /></td>
     <td><input style="width:400px;" id="UASName" type="text" name="UASName" value="@Model.getUASName()" /></td>

     <td style="width:100%;"></td>     
   </tr>
 </table>
</form>



