

@model eX_Portal.ViewModel.UserViewModel
@{
    ViewBag.Title = "Modify User Information";
    Layout = "~/Views/Shared/_exPortal.cshtml";
}

@using (Html.BeginForm()) {
  @Html.AntiForgeryToken()

  <div class="photo-upload">
    <div class="user-photo">
      <img id="img-user-photo" src="~/Upload/User/@(!String.IsNullOrEmpty(Model.User.PhotoUrl) ? Model.User.UserId + "/" + Model.User.PhotoUrl : "none.png")" />
    </div>
    <div style="display:none" id="photo-upload-msg"></div>
    <div class="upload-btn">
      <a onclick="return false;" href="#" class="button">Upload Photo</a>
      <input type="file" name="fileinput" id="fileinput" />
    </div>
  </div>

  <div class="form-horizontal">
    @Html.HiddenFor(model => model.User.UserId)
    @Html.HiddenFor(model => model.User.UserName)
    @Html.HiddenFor(model => model.User.PhotoUrl)
    <h2>Personal Details</h2>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
      @Html.LabelFor(model => model.User.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.User.FirstName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.User.FirstName, "", new { @class = "text-danger" })
      </div>
    </div>

      <div class="form-group">
          @Html.LabelFor(model => model.User.MiddleName, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
              @Html.EditorFor(model => model.User.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.User.MiddleName, "", new { @class = "text-danger" })
          </div>
      </div>
    <div class="form-group">
      @Html.LabelFor(model => model.User.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.User.LastName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.User.LastName, "", new { @class = "text-danger" })
      </div>
    </div>
    <div class="form-group">
      @Html.LabelFor(model => model.User.EmailId, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.User.EmailId, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.User.EmailId, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.User.MobileNo, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.User.MobileNo, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.User.MobileNo, "", new { @class = "text-danger" })
      </div>
    </div>


    <div class="form-group">
      @Html.LabelFor(model => model.User.OfficeNo, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.User.OfficeNo, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.User.OfficeNo, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.User.HomeNo, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.User.HomeNo, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.User.HomeNo, "", new { @class = "text-danger" })
      </div>
    </div>

    <h2>Settings</h2>

    <div class="form-group">
      @Html.LabelFor(model => model.User.AccountId, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.DropDownListFor(model => model.User.AccountId, Model.AccountList)
        @Html.ValidationMessageFor(model => model.User.AccountId, "", new { @class = "text-danger" })
      </div>
    </div>


    <div class="form-group">
      @Html.LabelFor(model => model.User.UserProfileId, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.DropDownListFor(model => model.User.UserProfileId, Model.ProfileList)
        @Html.ValidationMessageFor(model => model.User.UserProfileId, "", new { @class = "text-danger" })
      </div>
    </div>


    <div class="form-group">
      @Html.LabelFor(model => model.User.CountryId, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.DropDownListFor(model => model.User.CountryId, Model.CountryList)
        @Html.ValidationMessageFor(model => model.User.CountryId, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.User.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        <div class="checkbox">
          @Html.EditorFor(model => model.User.IsActive)
          @Html.ValidationMessageFor(model => model.User.IsActive, "", new { @class = "text-danger" })
        </div>
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.User.IsPilot, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.User.IsPilot)
        @Html.ValidationMessageFor(model => model.User.IsPilot, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.User.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.User.Remarks, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.User.Remarks, "", new { @class = "text-danger" })
      </div>
    </div>


    <h2>Change Password</h2>

    <div class="form-group">
      @Html.LabelFor(model => model.User.Password, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.PasswordFor(model => model.User.Password, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.User.Password, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.User.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.PasswordFor(model => model.User.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.User.ConfirmPassword, "", new { @class = "text-danger" })
      </div>
    </div>

    <div id="PilotInfo">
      <h2>Pilot Details</h2>
      <div class="form-group">
        @Html.LabelFor(model => model.Pilot.EmiratesId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.Pilot.EmiratesId, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Pilot.EmiratesId, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.Pilot.PassportNo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.Pilot.PassportNo, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Pilot.PassportNo, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.Pilot.DateOfExpiry, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.Pilot.DateOfExpiry, new { htmlAttributes = new { @class = "date-picker" } })
          @Html.ValidationMessageFor(model => model.Pilot.DateOfExpiry, "", new { @class = "text-danger" })
        </div>
      </div>
      <div class="form-group">
        @Html.LabelFor(model => model.Pilot.Department, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.Pilot.Department, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Pilot.Department, "", new { @class = "text-danger" })
        </div>
      </div>
      <div class="form-group">
        @Html.LabelFor(model => model.Pilot.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.Pilot.Title, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Pilot.Title, "", new { @class = "text-danger" })
        </div>
      </div>
    </div>
    <div class="form-toolbar">
      <input type="submit" value="Update" />
    </div>

  </div>
}


@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
  <script type="text/javascript">
    var PhotoUploadURL = '@Url.Action("UploadFile", new { ID = Model.User.UserId})';
  </script>
  <script type="text/javascript" src="~/Scripts/user.js"></script>
}