
@model eX_Portal.Models.MSTR_User_Pilot_ExponentUAS
@using eX_Portal.exLogic
@Html.Action("UserDetailView", new { ID = Model.UserId })
<div class="form-horizontal">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">

            <div class="col-md-10">
                @Html.HiddenFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
             
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CertificateId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CertificateId, Util.GetLookup("Exponent Certificate"))
                @Html.ValidationMessageFor(model => model.CertificateId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Score, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Score, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.Score, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateOfEnrollement, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfEnrollement, new { htmlAttributes = new { @class = "date-picker" } })
                @Html.ValidationMessageFor(model => model.DateOfEnrollement, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateOfCertification, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfCertification, new { htmlAttributes = new { @class = "date-picker" } })
                @Html.ValidationMessageFor(model => model.DateOfCertification, "", new { @class = "text-danger" })
            </div>


        </div>


        <div class="form-toolbar">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    }

</div>