@model eX_Portal.ViewModel.UserLogin
@{ 
  ViewBag.Title = "";
}
<table cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top">
      <div id="frm" class="column column-half form-horizontal NoBorder">
        <h2>Existing Users</h2>
        <div style="margin:20px 0px 20px 0px;">
          If you are a registered member, please enter your login details below to enter.
        </div>

        @using (Html.BeginForm("Index", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
          @Html.AntiForgeryToken()
          if (ViewBag.Message == 0) {
            <p><span class="info">Invalid username or password. Please try again</span></p>
          }
          if (ViewBag.Message == 2) {
            <p><span class="info">Please Activate your Account to Login!</span></p>
          }
          if (ViewBag.Message == 3) {
            <p><span class="info">Sessions reached the limit.!</span></p>
          }
          if (@TempData["Message"] != null) {
            <p><span class="info" style="color:green">@TempData["Message"]</span></p>
          }
          @Html.ValidationSummary(true, "", new { @class = "text-danger" })
          <div class="editor-label">
            @Html.LabelFor(m => m.UserName, "Username", new { @class = "col-md-2 control-label" })
          </div>

          <div class="editor-field">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
          </div>

          <div class="editor-label">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
          </div>
          <div class="editor-field">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", oncopy = "return false", onpaste = "return false" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
          </div>

          <div class="form-toolbar">
            <input type="submit" value="Login" />
          </div>

          <div class="editor-field" style="margin-top:20px;">
            <a href="~/User/ForgotPassword/">
              Forgot password?
            </a>

          </div>
        }
      </div>
    </td>
    <td><div style="width:1px;margin-left:10px;height: 355px;background-color:red;margin-right: 10px;margin-bottom: 20px;"></div></td>
    <td valign="top">
      <div id="frm" class="column column-half form-horizontal NoBorder">
        <h2>New Registration</h2>
        <div style="margin:20px 0px 0px 0px;">
          To use this site and all of its features, you must be a registered user to the system. You need
          a valid RPAS Permit and email address to register.
        </div>
        <div style="margin:20px 0px 0px 0px;">
          <form method="Get" action="@Url.Action("Register","User", new { })">
            <input type="submit" value="Register" />
          </form>
        </div>
      </div>
    </td>
  </tr>

</table>





