@model eX_Portal.ViewModel.UserLogin
@{
  Layout = "~/Views/Shared/_eXPortalBeforeLogin.cshtml";
}

<section class="general-form" id="loginForm">
  @using (Html.BeginForm("Index", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
    @Html.AntiForgeryToken()
    if(ViewBag.Message == 0) {
      <p><span class="info">Invalid username or password. Please try again</span></p>
      }
      if (ViewBag.Message == 2)
      {
        <p><span class="info">Please Activate your Account to Login!</span></p>
      }
      @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="editor-label">
      @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
      </div>

      <div class="editor-field">
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
      </div>

      <div class="editor-label">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
      </div>
      <div class="editor-field">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
      </div>
    <div class="editor-field">
        @Html.HiddenFor(m => m.Lat, new {  id = "Lat" })
        @Html.HiddenFor(m => m.Lng, new { id = "Lng" })
       
    </div>

      <div class="form-toolbar">
        <input type="submit" value="Login" />
      </div>

      <div class="editor-field">
        Forgot Password? If you can not remember your
        password, <a href="~/User/ForgotPassword/">Please click here.</a>

      </div>

  }
</section>
@section scripts {
<script type="text/javascript">

   
        window.onload =function () {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition, showError);
            }
            else { x.innerHTML = "Geolocation is not supported by this browser."; }
        }
        function showPosition(position) {
           // var latlondata = position.coords.latitude + "," + position.coords.longitude;
           // var latlon = "Your Latitude Position is:=" + position.coords.latitude + "," + "Your Longitude Position is:=" + position.coords.longitude;
           // alert(latlon)
            var lat=position.coords.latitude;
            var lng = position.coords.longitude;
                
            document.getElementById("Lat").value = lat;
            document.getElementById('Lng').value = lng;
               
            
         //   var img_url = "http://maps.googleapis.com/maps/api/staticmap?center="
     // + latlondata + "&zoom=14&size=400x300&sensor=false";
      //      document.getElementById("mapholder").innerHTML = "<img src='" + img_url + "' />";
        }
        function showError(error) {
            if (error.code == 1) {
                x.innerHTML = "User denied the request for Geolocation."
            }
            else if (err.code == 2) {
                x.innerHTML = "Location information is unavailable."
            }
            else if (err.code == 3) {
                x.innerHTML = "The request to get user location timed out."
            }
            else {
                x.innerHTML = "An unknown error occurred."
            }
        }


       

               
                
           

</script>
}