@model IEnumerable<eX_Portal.Models.BillingRules>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RuleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RuleDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CalculateField)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplyCondition)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RuleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RuleDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CalculateField)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplyCondition)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RuleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RuleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RuleID })
        </td>
    </tr>
}

</table>
