@model eX_Portal.ViewModel.ListViewModel
@{
    ViewBag.Title = "Lookup Data ";
    Layout = "~/Views/Shared/_exPortal.cshtml";
}

<section class="general-form">
    @using (Html.BeginForm("Create", "List", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div id="list" align="left">
            <ul>
                @foreach (var TypeList in Model.Typelist)
                {


                    <li>

                        @Ajax.ActionLink(TypeList.Text, // <-- Text to display
                "ListNames", // <-- Action Method Name
                new { TypeName = TypeList.Text },
                 new AjaxOptions
                 {
                     UpdateTargetId = "ListOfItems", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET",
                     // <-- HTTP method
                 })
                    </li>

                    //   <li>@Html.ActionLink("Details", "Details", new  {Name=TypeList.Text})<a href="#"   >@TypeList.Text</a> </li>



                }
            </ul>
        </div>




        <div id="ListOfItems" align="right">
            <div class="editor-field">


            </div>

        </div>






    }

</section>


@section Scripts{



    <script type="text/javascript">

        $(document).ready(function () {

            $('#ListOfItems').on("click", "a.Edit", function (e) {
                e.preventDefault();
                var Link = $(this);
                var ID = Link.attr("data-id");

                TakeData(ID);
            });

        });

        function TakeData(ID) {
            document.getElementById("Id").value = ID;
           // document.getElementById("Id").value = $('#ID_' + ID).html();
            document.getElementById("Name").value = $('#name_' + ID).html();

            document.getElementById("Code").value = $('#code_' + ID).html();
            document.getElementById("BinaryCode").value = $('#binarycode_' + ID).html();
            document.getElementById("Save").value = "Save";
           
        }










    </script>
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")

}