@model eX_Portal.ViewModel.WeatherViewModel
@using eX_Portal.exLogic
@{
  Layout = null;
  ViewBag.Title = "Internal Dashboard";
}

<div class="dash-row">
  <div class="dash-column col1">
    <div class="dash-content" style="position:relative;">
      <div id="chartjs-tooltip">data</div>
      <h3>UAS Flight Chart</h3>
      <canvas id="DsChart1" style="width:50px;height:200px"> </canvas>
      <a href="@Url.Action("ChartDetails", "DashBoard")">Chart Details</a>
    </div>
  </div>

  <div class="dash-column col2">
    <div class="dash-content">
      <h3>UAS Last Flight</h3>
      <canvas id="DsChart3" style="width:50px;height:250px"> </canvas>
    </div>
  </div>

  <div class="dash-column col1">
    <div class="dash-content weather">
      <h3>Weather in @Html.DisplayFor(Model => Model.City)</h3>
      <div>
        <table cellpadding="0" cellspacing="0">
          <tr>
            <td rowspan="2" class="condition">
              <span class="icon big">@Html.Raw(Weather.WeatherIcons[int.Parse(Model.ConditionCode)])</span><br />
              @Model.ConditionText
            </td>
            <td class="spacer"></td>
            <td>
              <span class="icon">&#xf055;</span>
            </td>
            <td>
              <span class="text">
                @Html.DisplayFor(Model => Model.ConditionTemperature)
                @Html.DisplayFor(Model => Model.TemperatureUnit)
              </span>
            </td>
            <td class="spacer"></td>
            <td>
              <span style="display:inline-block; transform: rotate(@(Model.Direction)deg);" class="icon">&#xf0b1;</span>
              <label>@Html.DisplayFor(Model => Model.Direction) &deg;</label><br>
              <span>@Html.DisplayFor(Model => Model.Speed) MPH</span><br>
            </td>
            <td class="spacer"></td>
            <td>

              <div>
                <span class="icon tiny">&#xf07a;</span>
                <label>Humidity: @Html.DisplayFor(Model => Model.Humidity)%</label>
              </div>
              <div>
                <span class="icon tiny">&#xf075;</span>
                <label>Visibility: @Html.DisplayFor(Model => Model.Visibility) KM</label>
              </div>
              <div>
                <span class="icon tiny">&#xf079;</span>
                <label>
                  Pressure: @Html.DisplayFor(Model => Model.Pressure) MB
                  (@Model.PressureStatus)
                </label>
              </div>

            </td>
          </tr>
          <tr>

            <td class="spacer"></td>
            <td colspan="2"><span class="caption">Temperature</span></td>
            <td class="spacer"></td>
            <td><span class="caption">Wind</span></td>
            <td class="spacer"></td>
            <td><span class="caption">Atmosphere</span></td>
          </tr>
        </table>



      </div>
      <div style="margin-top:20px;">
        <ul id="forecast">
          @foreach (var item in Model.Forecast) {
          <li>
            <span class="icon big">@Html.Raw(Weather.WeatherIcons[item.Code])</span><br />
            <div class="status">@item.status</div>
            <div class="date">@item.Date</div>
            <div class="temp">
              <span class="tiny icon">&#xf058;</span>
              @item.TempLow&deg;
              <span class="tiny icon">&#xf044;</span>
              @item.TempHigh&deg;
            </div>
          </li>
          }
        </ul>
      </div>


    </div>
  </div>

  <div class="dash-column col2">
    <div class="dash-content">
      <h3>Total Pilot Hours</h3>
      <canvas id="DsChart2" style="width:50px;height:250px"> </canvas>
    </div>
  </div>
</div>


<link href="~/Content/internal-dashboard.css" rel="stylesheet" />
<script src="~/Scripts/Chart.js" type="text/javascript"></script>
<script type="text/javascript">
  var DashBoardPilotChartDataURL = '@Url.Action("getCurrentPilotChartData", "Dashboard")';
  var DashBoardChartDataURL = '@Url.Action("getCurrentFlightChartData", "Dashboard")';
  var DashBoardLastFlightChartDataURL = '@Url.Action("getUASLastFlightChartData", "Dashboard")';

</script>
<script type="text/javascript" src="~/Scripts/DashBoardPilotChart.js"></script>
<script type="text/javascript" src="~/Scripts/DashBoardFlightChart.js"></script>
<script type="text/javascript" src="~/Scripts/DashBoardLastFlightChart.js"></script>
