@model Exponent.WeatherForcast
@using eX_Portal.exLogic
@{ Layout = null; }


<h3>Weather in @Html.DisplayFor(Model => Model.City)</h3>
<div>

  <table cellpadding="0" cellspacing="0" style="width: 100%">
    <tr>
      <td valign="top" style="width:25%">
        @if(Model.Today.ConditionCode != null) {
          <img style="width:100px; height:100px;" src="~/images/OpenWeatherMap/svg/@(Model.Today.ConditionCode).svg" />
        }
      </td>
      <td style="text-align:center; width:25%">
        <div class="Temperature">
          @Model.Today.Temperature.ToString("0.0")&deg;C
        </div>
        <div class="Condition">
          @Model.Today.ConditionText
        </div>
      </td>
      <td valign="top" style="width:50%">
        <table cellpadding="0" cellspacing="0" style="width: 100%">
          <tr>
            <td style="text-align:center"><span class="icon">&#xf050;</span></td>
            <td>Wind:</td>
            <td>
              <span>@Model.Today.WindSpeed.ToString("0.0") km/h</span>
              <span style="display:inline-block; transform: rotate(@(Model.Today.WindDirection)deg);" class="icon">&#xf0b1;</span>
            </td>
          </tr>
          <tr>
            <td  style="text-align:center"><span class="icon">&#xf07a;</span></td>
            <td>Humidity :</td>
            <td><label>@Html.DisplayFor(Model => Model.Today.Humidity)%</label></td>
          </tr>
          <tr>
            <td  style="text-align:center"><span class="icon">&#xf075;</span></td>
            <td>Visibility:</td>
            <td><label>@Html.DisplayFor(Model => Model.Today.Visibility) KM</label></td>
          </tr>
          <tr>
            <td  style="text-align:center"><span class="icon">&#xf079;</span></td>
            <td>Pressure:</td>
            <td>@Html.DisplayFor(Model => Model.Today.Pressure) mb</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

</div>

<div style="margin-top:20px;">
  <table  id="forecast" style="width:100%;">
    <tr>
      @foreach(var item in Model.Forecast) {
        <td style="text-align:center">
          <span class="big">
            <img style="width:50px; height:50px;" src="~/images/OpenWeatherMap/svg/@(item.ConditionCode).svg" />
          </span><br />
          <div class="status">@item.ConditionText</div>
          <div class="date">@item.ConditionDate.ToString("dd MMM")</div>
          <div class="temp">
            @item.High.ToString("0")&deg;C
            |
            @item.Low.ToString("0")&deg;C
          </div>
        </td>
      }
    </tr>
  </table>
</div>

