@model eX_Portal.ViewModel.WeatherViewModel
@using eX_Portal.exLogic
@{ Layout = null; }


<h3>Weather in @Html.DisplayFor(Model => Model.City)</h3>
<div>

  <table cellpadding="0" cellspacing="0" style="width: 100%">
    <tr>
      <td valign="top" style="width:25%">
        @if(Model.ConditionCode != null) {
          <img style="width:120px; height:auto;" src="~/images/WorldWeatherOnline/@(Model.ConditionCode).png" />
        }
      </td>
      <td style="text-align:center; width:25%">
        <div class="Temperature">
          @Html.DisplayFor(Model => Model.ConditionTemperature)@Html.Raw(Model.TemperatureUnit)
        </div>
        <div class="Condition">
          @Model.ConditionText
        </div>
      </td>
      <td valign="top" style="width:50%">
        <table cellpadding="0" cellspacing="0" style="width: 100%">
          <tr>
            <td style="text-align:center"><span class="icon">&#xf050;</span></td>
            <td>Wind:</td>
            <td>
              <span>@Html.DisplayFor(Model => Model.Speed) km/h</span>
              <span style="display:inline-block; transform: rotate(@(Model.Direction)deg);" class="icon">&#xf0b1;</span>
            </td>
          </tr>
          <tr>
            <td  style="text-align:center"><span class="icon">&#xf07a;</span></td>
            <td>Humidity :</td>
            <td><label>@Html.DisplayFor(Model => Model.Humidity)%</label></td>
          </tr>
          <tr>
            <td  style="text-align:center"><span class="icon">&#xf075;</span></td>
            <td>Visibility:</td>
            <td><label>@Html.DisplayFor(Model => Model.Visibility) KM</label></td>
          </tr>
          <tr>
            <td  style="text-align:center"><span class="icon">&#xf079;</span></td>
            <td>Pressure:</td>
            <td>@Html.DisplayFor(Model => Model.Pressure) mb</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

</div>

<div style="margin-top:20px;">
  <table  id="forecast" style="width:100%;">
    <tr>

      @foreach(var item in Model.Forecast) {
        <td style="text-align:center">
          <span class="big">
            <img style="width:70px; height:auto;" src="~/images/WorldWeatherOnline/@(item.Code).png" />
          </span><br />
          <div class="status">@item.status</div>
          <div class="date">@item.Date</div>
          <div class="temp">
            @item.TempHigh&deg;C
            |
            @item.TempLow&deg;C
          </div>
        </td>
      }
    </tr>
  </table>
</div>

