@model eX_Portal.ViewModel.UserDashboardModel

@{
  ViewBag.Title = String.Empty;
  Layout = null;
}

<section class="top-space">
  <div class="column column-1-of-3 dashboard-column">
    <div class="title">Profile Details</div>
    <div class="fixed-height">
      <div class="SummaryImage" style="background-image:url('@Model.Pilot.PilotImage')"></div>
      <div class="SummaryCaption">
        @Model.Pilot.FirstName @Model.Pilot.MiddleName @Model.Pilot.LastName
      </div>
      <ul>
        <li>
          <div class="caption">RPAS Permit No</div>
          <div class="detail">@Model.Pilot.RPASPermitNo</div>
        </li>
        <li>
            <div class="caption">Nationality</div>
            <div class="detail">@Model.Pilot.Nationality</div>
        </li>
          <li>
              <div class="caption">Date Of Issue</div>
              <div class="detail">@Model.Pilot.DOI_RPASPermit</div>
          </li>
          <li>
              <div class="caption">Date Of Expiry</div>
              <div class="detail">@Model.Pilot.DOE_RPASPermit</div>
          </li>
          
        <li>
          <div class="caption">Permit Category</div>
          <div class="detail">@Model.Pilot.PermitCategory</div>
        </li>
      </ul>
    </div>
    <div class="toolbar">
        <a href="@Url.Action("Edit", "Pilot", new  { ID = @Model.Pilot.UserId })"> <div class="button">Edit Profile</div></a>
    </div>

  </div>


  <div class="column column-1-of-3 dashboard-column">
    <div class="title">RPAS Registrations</div>
    <div class="fixed-height">
      
      <ul>
        @foreach (var Item in @Model.RPASList) {
          <li>
            <div class="caption">@Item.DroneName</div>
            <div class="detail">Manufacture: <span>@Item.ManufactureName</span></div>
          </li>
        }
      </ul>
    </div>
    <div class="toolbar">
        <a href="@Url.Action("Create", "Drone")"><div class="button">Create RPAS</div></a>
    </div>

  </div>

  <div class="column column-1-of-3 dashboard-column">
    <div class="title">NOC Status</div>
    <div class="fixed-height">
      
      <ul>
        @foreach (var Item in @Model.ApprovalList) {
          <li>
            <div class="caption">@Item.ApprovalName</div>
            <div class="detail">Status: <span>@Item.ApprovalStatus</span></div>
          </li>
        }
      </ul>
    </div>
    <div class="toolbar">
        <a href="@Url.Action("NOCRegister", "Rpas")"><div class="button">Apply for NOC</div></a>
</div>

  </div>

</section>
