@model eX_Portal.ViewModel.DroneCreateModel

@{
  ViewBag.Title = "RPAS Registration";
  var UAVTypeList = eX_Portal.exLogic.Util.GetDropDowntList("UAVType", "Name", "Code", "usp_Portal_GetDroneDropDown");
  var ManufactureList = eX_Portal.exLogic.Util.GetDropDowntList("Manufacturer", "Name", "Code", "usp_Portal_GetDroneDropDown");

}

<div class="form-horizontal">
  <div style="width:60%; margin:auto">
    @using (Html.BeginForm()) {

      @Html.HiddenFor(model => model.DroneID)
      <div class="editor-label">
        @Html.LabelFor(model => model.ManufactureID, "Manufacturer")<span style="color:red">*</span>
      </div>
        <div class="editor-field" id="ddlist">
          @Html.DropDownListFor(model => model.ManufactureID, ManufactureList)
          @Html.ValidationMessageFor(model => model.ManufactureID)
        </div>
        <div class="editor-field"  style="margin-bottom:0px;">
          <input id="othermanu" value="1" name="OtherManufacturer" type="checkbox" />
          @Html.LabelFor(model => model.OtherManufacturer, "Other Manufacturer", htmlAttributes: new { @for = "othermanu", @class = "control -label col-md-2" })
        </div>
        <div  class="editor-field" id="divManuDetails" style="display:none; margin-bottom:0px;">
          <div class="editor-field">
            @Html.EditorFor(model => model.OtherManufacturer, new { htmlAttributes = new { @class = "editor-label", @maxlength = "50" } })
            @Html.ValidationMessageFor(model => model.OtherManufacturer, "", new { @class = "text-danger" })
          </div>
        </div>
        <div style="margin-top:30px;" class="editor-label">
          @Html.LabelFor(model => model.RpasTypeId, "RPAS Type")<span style="color:red">*</span>
        </div>
        <div class="editor-field">
          @Html.DropDownListFor(model => model.RpasTypeId, UAVTypeList)
          @*Html.Action("UAVTypeList", new { UavTypeId = Model.Drone.UavTypeId } )*@
          @Html.ValidationMessageFor(model => model.RpasTypeId)
        </div>
        <div class="editor-field" style="margin-bottom:0px">
          <input id="othertype" value="1" name="OtherRPASType" type="checkbox" />
          @Html.LabelFor(model => model.OtherRPASType, "Other Type", htmlAttributes: new { @for = "othertype", @class = "control-label col-md-2" })
        </div>
        <div class="editor-field" id="divOtherRPASType" style="display:none; margin-bottom:0px">
          <div class="editor-field">
            @Html.EditorFor(model => model.OtherRPASType, new { htmlAttributes = new { @for= "othertype", @class = "editor -label", @maxlength = "50" } })
            @Html.ValidationMessageFor(model => model.OtherRPASType, "", new { @class = "text-danger" })
          </div>
        </div>
        <div style="margin-top:30px;" class="editor-label">
          @Html.LabelFor(model => model.Description, "Description")
        </div>
        <div class="editor-field">
          @Html.EditorFor(model => model.Description)
          @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div class="editor-label">
          @Html.LabelFor(model => model.CommissionDate, "Commission Date")<span style="color:red">*</span>
        </div>
        <div class="editor-field">
          @Html.EditorFor(model => model.CommissionDate, new { htmlAttributes = new { @class = "form-control date-picker" } })
          @Html.ValidationMessageFor(model => model.CommissionDate)
        </div>

        @Html.Action("DroneImaging", "Drone", new { ID = 0, Actions = "Create" })
        <div class="form-toolbar">
          <input type="submit" value="Create" />
        </div>
    }
  </div>

</div>

@section header{
  <link href="~/Content/black-box.css" rel="stylesheet" />
}

@section Scripts {

  @Scripts.Render("~/bundles/jqueryval")
  <script type="text/javascript">
    var UploadDroneURL = '@Url.Action("UploadDroneFile","Drone", new { ID = 0, DocumentType="Drone Image"})';
    var DeleteDroneURL = '@Url.Action("DeleteDroneFile", "Drone",new { ID = 0, DocumentType="Drone Image"})';
  </script>
  <script type="text/javascript" src="~/Scripts/DroneImaging.js"></script>

  <script>
    $(document).ready(function () {
      $('#othermanu').on("change", function (e) {
        if ($(this).prop('checked')) {
          $('#divManuDetails').show();
          $('#ManufactureID').val('0');
        } else {
          $('#divManuDetails').hide();
        }
      });

      $('#othertype').on("change", function (e) {
        if ($(this).prop('checked')) {
          $('#divOtherRPASType').show();
          $('#RpasTypeId').val('0');
        } else {
          $('#divOtherRPASType').hide();
        }
      });

      $('#ManufactureID').on('change', function () {
        $('#othermanu').prop('checked', false);          
        $('#divManuDetails').hide();
      });

      $('#RpasTypeId').on('change', function () {
        $('#othertype').prop('checked', false);
        $('#divOtherRPASType').hide();
      });

      

    });
    
  </script>
}