@model eX_Portal.ViewModel.DroneView

@{
    ViewBag.Title = "UAS Registration";
    Layout = "~/Views/Shared/_exPortal.cshtml";
}

<section class="general-form" id="loginForm">
  <script src="~/Scripts/bootstrap.js"></script>
  @using (Html.BeginForm()) {



    @Html.HiddenFor(model => model.Drone.DroneId)

    <div class="editor-label">
      @Html.LabelFor(model => model.Drone.OwnerId, "Owner")
    </div>
    <div class="editor-field">

      @Html.DropDownListFor(model => model.Drone.OwnerId, Model.OwnerList)



    </div>

    <div class="editor-label">
      @Html.LabelFor(model => model.Drone.UavTypeId, "UAV Type")
    </div>
    <div class="editor-field">

      @Html.DropDownListFor(model => model.Drone.UavTypeId, Model.UAVTypeList)
      @Html.ValidationMessageFor(model => model.Drone.UavTypeId)


    </div>

    <div class="editor-label">
      @Html.LabelFor(model => model.Drone.ManufactureId, "Manufacturer")
    </div>
    <div class="editor-field">
      @Html.DropDownListFor(model => model.Drone.ManufactureId, Model.ManufactureList)
      @Html.ValidationMessageFor(model => model.Drone.ManufactureId)
    </div>
    <div class="editor-label">
      @Html.LabelFor(model => model.Drone.CommissionDate, "Commission Date")
    </div>
    <div class="editor-field" >
    
      @Html.EditorFor(model => model.Drone.CommissionDate, new { htmlAttributes = new { @class = "form-control date-picker" } })
      @Html.ValidationMessageFor(model => model.Drone.CommissionDate)
    </div>


    <div class="form-toolbar">
      <input type="submit" value="Create" />
    </div>


  }


  </section>