@model eX_Portal.ViewModel.DroneView

@{
    ViewBag.Title = "RPAS Registration";
    Layout = "~/Views/Shared/_exPortal.cshtml";
}

<section class="general-form" id="loginForm">
  <script src="~/Scripts/bootstrap.js"></script>
  @using(Html.BeginForm()) {

    @Html.HiddenFor(model => model.Drone.DroneId)

    <div class="editor-label">
      @Html.LabelFor(model => model.Drone.AccountID, "Owner")
    </div>
    <div class="editor-field">

      @Html.DropDownListFor(model => model.Drone.AccountID, Model.OwnerList)
      @Html.ValidationMessageFor(model => model.Drone.AccountID)
    </div>
    <div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Drone.ManufactureId, "Manufacturer")
        </div>
        <div class="editor-field" id="">
            @Html.DropDownListFor(model => model.Drone.ManufactureId, Model.ManufactureList)
            @Html.ValidationMessageFor(model => model.Drone.ManufactureId)
        </div>
        <div>
            <input id="othermanu" value="1" name="othermanu" type="checkbox" />
            <label for="othermanu">Other Manufacturer</label>
        </div>
    </div>

    <div class="form-group" id="divManuDetails" style="display:none;">
        @*@Html.LabelFor(model => model.Name, "Other Manufacturer", htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="editor-label">
      @Html.LabelFor(model => model.Drone.UavTypeId, "RPAS Type")
    </div>
    <div class="editor-field">
      @*Html.DropDownListFor(model => model.Drone.UavTypeId, Model.UAVTypeList)*@
      @Html.Action("UAVTypeList", new { UavTypeId = Model.Drone.UavTypeId } )
      @Html.ValidationMessageFor(model => model.Drone.UavTypeId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Drone.ModelName, "Description")
    </div>

    <div class="editor-field">

        @Html.EditorFor(model => model.Drone.ModelName   )
        @Html.ValidationMessageFor(model => model.Drone.ModelName)
    </div>
    <div class="editor-label">
      @Html.LabelFor(model => model.Drone.CommissionDate, "Commission Date")
    </div>
    <div class="editor-field" >
    
      @Html.EditorFor(model => model.Drone.CommissionDate, new { htmlAttributes = new { @class = "form-control date-picker" } })
      @Html.ValidationMessageFor(model => model.Drone.CommissionDate)
    </div>

    if(eX_Portal.exLogic.User.hasAccess("DRONE.PARTS")) {
    <div class="editor-label">
        @Html.LabelFor(model => model.DroneParts.PartsName, "Parts")
    </div>
        <div class="editor-field">
            <input type="text" placeholder="Enter the Part name, Model or Supplier to Search" id="SelectItemsForParts" />
            <table class="report" id="Table_SelectItemsForParts" style="display:none;">
                <thead>
                    <tr>
                        <th>Parts Name</th>
                        <th>Model</th>
                        <th>Supplier</th>
                        <th>Qty</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
            </table>
        </div>
    }
    @*
  <h2>Regulatory Approval </h2>
  <div class="form-group">
    <p>
      You need to have Regulator Approval for this UAS. Please upload it here.<br />
    </p>
    <div class="col-md-10">
      <ul id="FileUploadProgress"></ul>
    </div>
    <div>
      <input type="file" multiple name="fileinput" id="fileinput" />
    </div>
  </div>
  <div style="margin-top:20px;" class="editor-label">
    @Html.LabelFor(model => model.Drone.RegistrationAuthority, "Regulator Authority")
  </div>
  <div class="editor-field">
    @Html.DropDownListFor(model => model.Drone.RegistrationAuthority, Model.RegistrationAuthority )
    @Html.ValidationMessageFor(model => model.Drone.RegistrationAuthority)
  </div>
    *@

    @Html.Action("DroneImaging", "Drone", new { ID = 0,Actions="Create" })


  <div class="form-toolbar">
    <input type="submit" value="Create" />
  </div>

    
  }

 

  </section>

@section header{
  <link href="~/Content/black-box.css" rel="stylesheet" />
}

@section Scripts {

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    var UploadDroneURL = '@Url.Action("UploadDroneFile","Drone", new { ID = 0, DocumentType="Drone Image"})';
    var DeleteDroneURL = '@Url.Action("DeleteDroneFile", "Drone",new { ID = 0, DocumentType="Drone Image"})';
  @*var DroneUploadURL = '@Url.Action("UploadFile", new { ID = 0, FlightID = 0, DocumentType="UAS-Registration" })';*@
</script>
@*<script type="text/javascript" src="~/Scripts/drone.js"></script>*@
<script type="text/javascript" src="~/Scripts/DroneImaging.js"></script>


    <script>
    $(document).ready(function () {
        $('#SelectItemsForParts').autocomplete({
        source: "/AutoComplete/Parts/",
        minLength: 2,
        select: AutoCompleteSelect
      });

      $('#Table_SelectItemsForParts').on("click", "a.delete", function () {
        $(this).parent().parent().remove();
      })

      $('#Drone_ManufactureId').on('change', function () {
        
        if ($('#othermanu').prop('checked'))
        {
          
          $('#Name').val("");
          $('#divManuDetails').slideUp();
          $('#othermanu').attr('checked', false);
        }
        
      });


    });

    function AutoCompleteSelect(event, ui) {
      event.preventDefault();
      var ID = $(event.target).prop("id");
      $('#Table_' + ID).show();
      $('#'+ ID).val('');
      var HTML = "<tr>" +
        "<td>" + ui.item.PartsName +
        '<input type="hidden" name="' + ID + '" value="' + ui.item.id + '">' +
        "</td>\n" +
        "<td>" + ui.item.Model + "</td>\n" +
        "<td>" + ui.item.Supplier + "</td>\n" +
        '<td><input style="width:40px;" type="text" name="' + ID + '_' + ui.item.id + '"></td>\n' +
        '<td><a class="delete" href="#">x</a></td>\n' +
        '</tr>';
      $('#Table_' + ID).append(HTML);
    }


    $('#othermanu').on("change", function (e) {
        if ($(this).prop('checked')) {
            $('#divManuDetails').slideDown();
        }
        else
        {
            $('#divManuDetails').slideUp();
        }
    })
    
    </script>
}