@using eX_Portal.exLogic;

@{
  int DroneID = ViewBag.DroneID;
}
@Html.Action("DroneDetail","Drone", new { ID = DroneID })
<!-- Drone Images-->
@Html.Action("DroneImaging", "Drone", new { ID = DroneID, Actions = "View" })

<!-- Recent Flights-->
@if (eX_Portal.exLogic.User.hasAccess("FLIGHT.ARCHIVE"))
{
@Html.Action("ByDrone", "DroneFlight", new { ID = DroneID })
}
<!-- Recent Service -->
@Html.Action("ByDrone", "DroneService", new { ID = DroneID })

@Html.Action("getDroneParts", "Drone", new { ID = DroneID })

<!--
@if (eX_Portal.exLogic.User.hasAccess("CHECKLIST.SETUP")) { 
  <h2>Checklist Set-Up</h2>
  @Html.Action("ValidationList", "DroneCheckList", new { DroneID = DroneID })
}
-->

<div class="col-3-in-row">
  @Html.Action("FileDetail", "Drone", new { ID = DroneID, DocumentType = "Decommission" })
  @Html.Action("FileDetail", "Drone", new { ID = DroneID, DocumentType = "Reassign" })
</div>
<div style="clear:both"></div>
<div class="col-3-in-row">
  @Html.Action("FileDetail", "Drone", new { ID = DroneID, DocumentType = "Incident" })
  @Html.Action("FileDetail", "Drone", new { ID = DroneID, DocumentType = "UAT" })
  @Html.Action("FileDetail", "Drone", new { ID = DroneID, DocumentType = "Commission" })
</div>
  <div style="clear:both"></div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/DroneImaging.js"></script>
}
@section header{
<link href="~/Content/black-box.css" rel="stylesheet" />
  <style type="text/css">
    #dialog {
      overflow:hidden;
    }
  </style>
}
