
@{
  int DroneID = ViewBag.DroneID;
}
@Html.Action("DroneDetail","Drone", new { ID = DroneID })

<!-- Recent Flights-->
@Html.Action("ByDrone", "DroneFlight", new { ID = DroneID })

<!-- Recent Service -->
@Html.Action("ByDrone", "DroneService", new { ID = DroneID })


@Html.Action("getDroneParts", "Drone", new { ID = DroneID })

<h2>Checklist Set-Up</h2>
@Html.Action("ValidationList", "DroneCheckList", new { DroneID = DroneID })




@section scripts {
  <script type="text/javascript">

  </script>
}