@model List<eX_Portal.Models.DroneDocument>
@using eX_Portal.exLogic;
@{
    int DroneID = ViewBag.DroneID;
    Layout = "";
    String DroneName = Util.getDroneNameByDroneID(DroneID);
}


<div id="dialog"></div>
@*<h2>Drone Images</h2>*@
<ul id="GPS-Images">
    @foreach (var item in Model)
    {
  <li>@if (ViewBag.Actions != "View")
        {
            <div class="delete-icon"><a href="#" class="delete" data-documentid="@item.ID" data-file="@item.DocumentName"><span class="delete icon">&#xf057;</span></a></div>
            <div class="download-icon"><a href="/upload/drone/@DroneName/@DroneID/@item.DocumentName" download><span class="download icon">&#xf019;</span></a></div>   
         }
            <div class="thumbnail">
            <img id="@item.ID" onclick="showimg(this)" width="50px" height="50px" padding="0px" margin="0" src="/upload/drone/@DroneName/@DroneID/@item.DocumentName.Replace(".jpg",".t.png")"/></div>
     </li>
    }
    
</ul>
<div style="clear:both"></div>
@if (ViewBag.Actions != "View")
{
<h2>Upload Images for UAV</h2>
<ul id="FileUploadProgress"></ul>
<div>Choose the files that you like to upload for above flight using the option bellow.</div>
<div><input type="file" multiple name="fileinput" id="fileinput" /></div>
}


@section header{
    <link href="~/Content/black-box.css" rel="stylesheet" />
}
@section Scripts{
    <script type="text/javascript">
      var UploadDroneURL = '@Url.Action("UploadDroneFile","Drone", new { ID = ViewBag.DroneID, DocumentType="Drone Image"})';
        var DeleteDroneURL = '@Url.Action("DeleteDroneFile", "Drone",new { ID = ViewBag.DroneID, DocumentType="Drone Image"})';

      @*var GpsTags = [
      @foreach (var item in Model) {<text>
        {
            Latitude:  @item.Latitude,
            Longitude:  @item.Longitude,
            Altitude:@item.Altitude,
            DocumentName: "@item.DocumentName",
            FlightID: @FlightID,
            UpLoadedDate:"@item.DocumentDate",
            Thumbnail: "/upload/drone/@DroneName/@FlightID/@item.DocumentName.Replace(".jpg", ".t.png")",
            DocumentID: @item.ID
            },
      </text>}
      ]*@
    </script>

    <script type="text/javascript">
        @*var GeoMapURL = '@Url.Action("GetGeoTagInfo", "DroneFlight")';
  var  GetDroneURL='@Url.Action("GetDroneName", "DroneFlight")';*@
    </script>
    @*<script type="text/javascript" src="//maps.google.com/maps/api/js?key=AIzaSyD_zdKS2syz3Jqr8F_jZRLsJj0u73-lfog"></script>
    <script src="~/Scripts/infobox.js"></script>*@
    @*<link href="~/stylesheets/Flight_GeoTag_Style.css" rel="stylesheet" />*@
    <script type="text/javascript" src="~/Scripts/DroneImaging.js"></script>

    @*/script for Dialog*@
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
}




