@model eX_Portal.Models.MSTR_User
@{
    Layout = "~/Views/Shared/_Email.cshtml";
}

@if (Model != null)
{
    <p>Dear @Model.FirstName,</p>

    <p>
        You have been registered to  Exponent Portal. Password will be messaged to you  when you click the button below.
    </p>

    <p>
        Details:
        <br /><br />
        User Name  : @Model.UserName<br />
        Registered EmailId    : @Model.EmailId<br />
        Registered Mobile No  : @Model.MobileNo<br />
    </p>
    <p>
        To Activate your account, 
        <a href="@Url.Action("Login","RPAS", new { userID = Model.UserId })"> Click here</a>
        
    </p>
    <p>
        Thank you.
    </p>


}
else
{
    <p>Invalid User</p>

}
