@model eX_Portal.Models.MSTR_BlackBox

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_eXPortal.cshtml";
}
<section class="general-form" id="loginForm">
    <script src="~/Scripts/bootstrap.js"></script>
    @using (Html.BeginForm())
    {

        @Html.HiddenFor(model => model.BlackBoxID)
        @Html.HiddenFor(model => model.IsActive)
        @Html.HiddenFor(model => model.CurrentStatus)
        @Html.HiddenFor(model => model.CurrentUserID)
        @Html.HiddenFor(model => model.CurrentDroneID)
        @Html.HiddenFor(model => model.CreatedOn)
     
        <div class="editor-label">
            @Html.LabelFor(model => model.BlackBoxSerial, "Serial Number")
        </div>
        <div class="editor-field">

            @Html.EditorFor(model => model.BlackBoxSerial)
            @Html.ValidationMessageFor(model => model.BlackBoxName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BlackBoxName, "BlackBox Name")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BlackBoxName)
            @Html.ValidationMessageFor(model => model.BlackBoxName)
        </div>





        <div class="form-toolbar">
            <input type="submit" value="Save" />
        </div>


    }



</section>
