
@{
  Layout = null;
  String BrandLogo = eX_Portal.exLogic.Util.GetLogo();
}

<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - Exponent</title>
  @Scripts.Render("~/bundles/jquery")
  @Styles.Render("~/bundles/ADSB")
  @Styles.Render("~/bundles/dataTableCss")
  @RenderSection("header", required: false)  
</head>
<body>
  <section>
    <header>
      <div class="left-section">
        <div class="logo">
          <img src="~/images/adsb-logo.png" />
          @if (!String.IsNullOrEmpty(BrandLogo)) {
            <img style="margin-left:10px" src="@BrandLogo" />
          }
        </div>
      </div>
      <div class="right-section">



          <nav class="user-management">
            <ul>
              @if (Session["UserID"] == null) {
                <li>@Html.ActionLink("Log in", "Index", "User")</li>
            } else {
                <li>Welcome <b>@Session["FirstName"]</b></li>
                <li id="user-menu">
                  <a href="#" id="user-menu-link">Account Settings <span class="icon spinner">&#xf013;</span></a>
                  <ul id="user-menu-items">
                    <li>@Html.ActionLink("Log Out", "Logout", "User")</li>
                    <li>@Html.ActionLink("Change Password", "ResetPassword", "User")</li>
                  </ul>
                </li>
            }
            </ul>
          </nav>

        <nav class="main-menu">

          @Html.Action("SystemMenu", "Design")
        </nav>


          <nav class="breadcrumbs">
            @Html.Partial("_BreadCrumbs")
          </nav>



      </div>


    </header>
  </section>

  
  @RenderBody()
  @Scripts.Render("~/bundles/dataTableScript")
  @RenderSection("scripts", required: false)
 
  <div id="Overlay">
    <img src="~/images/loading.png" />
  </div>

</body>
</html>
