@using eX_Portal.exLogic;
@{
  String ControllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
  String ActionName = HttpContext.Current.Request.RequestContext.RouteData.Values["Action"].ToString();
  var ParamID = Request["ID"] != null ? Request["ID"].ToString() : "";

  String ShowControllerName = ControllerName;
  //if (ShowControllerName.Equals("Drone")) { ShowControllerName = "RPAS"; }
  if (ShowControllerName.IndexOf("Drone") >= 0) { ShowControllerName = ControllerName.Replace("Drone", "RPAS"); }
}
<ul>

  <li><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
  @switch (ControllerName) {
  case "DroneCheckList":
    var DroneID = Request["DroneID"] != null ? Request["DroneID"].ToString() : "";
    var FlightID = Request["FlightID"] != null ? Request["FlightID"].ToString() : "";
    if (DroneID != "") {
      <li><a href="@Url.Action("Index", "Drone")">RPAS</a></li>
      <li><a href="@Url.Action("Detail", "Drone", new { ID = DroneID })">Details</a></li>
    }
    if (FlightID != "") {
      <li><a href="@Url.Action("Index", "DroneFlight")">RPAS Flight</a></li>
      <li><a href="@Url.Action("Detail", "DroneFlight", new { ID = FlightID })">Details</a></li>
    }
    break;
  default:
    if (ActionName != "Index" ) {
      <li><a href="@Url.Action("Index", ControllerName)">@Util.toCaption(ShowControllerName)</a></li>
    }
    break;
  }
  @if(!String.IsNullOrEmpty(ViewBag.Title)) { 
    <li>@ViewBag.Title</li>
  }


</ul>
