<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - Exponent</title>
  @Styles.Render("~/Content/css")
  @Styles.Render("~/bundles/dataTableCss")
  @Scripts.Render("~/bundles/modernizr")
  @Scripts.Render("~/bundles/jquery")
  @RenderSection("header", required: false)
  <link href="@Url.Action("CustomCss", "Design")" rel="stylesheet" />

</head>

<body>

  <header class="clearfix">
    <section class="layout">
      <div class="logo">
        <img alt="" src="~/Upload/Brand-Logo/@Session["BrandLogo"]" width="300">
      </div>

      <nav>
        @Html.Action("SystemMenu", "Design")
      </nav>
      
    </section>
  </header>
  <section class="sep"></section>
  <article>
    <section class="layout">
      <div class="toolbar clearfix">
        <nav class="breadcrumbs">
          @Html.Partial("_BreadCrumbs")

        </nav>
        @Html.Partial("_LoginPartial")
      </div>
    </section>
  </article>

  <section class="sep"></section>

  <article>
    <section class="layout content">
      <div class="header-bar">
        <div class="form-toolbar" style="float:right;">
          @RenderSection("toolbar", required: false)
        </div>
        <h1>@ViewBag.Title</h1>
        <div style="clear:both"></div>
      </div>
      

      @RenderBody()
    </section>
  </article>
  <section class="sep"></section>
  <footer>
    <section class="layout">
      <P>&copy; @DateTime.Now.Year -  Exponent TS All rights reserved.</P>
    </section>
  </footer>

  <div id="delete-confirm" title="Delete Permanently?" style="display:none;">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Selected Records will be 
    permanently deleted and cannot be recovered. Are you sure?</p>
  </div>

  <div id="alert-box" title="Notification" style="display:none;">
    <p>
      <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
      <span id="alert-message"></span>
    </p>
  </div>



  @Scripts.Render("~/bundles/dataTableScript")
  @RenderSection("scripts", required: false)

</body>

</html>


