@using eX_Portal.exLogic;
@model List<eX_Portal.Models.DroneFlightVideo>

@if (ViewBag.DroneID > 0)
{
    @Html.Action("DroneDetail", "Drone", new { ID = ViewBag.DroneID })
}

@{
    ViewBag.Title = "Videos List";
    Layout = "~/Views/Shared/_exPortal.cshtml";
}

<script src="~/jwplayer/jwplayer.js"></script>
<script>jwplayer.key = "vYTpeN5XOdY1qcyCv75ibloaO/VRGoOeHn6CsA==";</script>


<div id="main"  class="myOuterDivWithBorder" style="min-height:500px;">
    @foreach (var video in Model)
    {
        <div id="map-video_@video.VideoID" style="float:left;padding:10px;">
            <div id="Player_@video.VideoID">
                the player...
            </div>
            <div id="deletable">
                <a class="video-delete" data-id="@video.VideoID" href="/DroneFlight/DeleteVdeo/@video.VideoID" onclick=""><span class="icon">&#xf05c;</span>Delete</a>
                <a style="margin-left:30px;" class="video-download" data-id="@video.VideoURL" href="@Html.Raw(S3Download.getURL("VOD/" + video.VideoURL))"><span class="icon">&#xf019;</span>Download</a>               
            </div>           
        </div>

        <script type="text/javascript">
            var playerInstance_@video.VideoID = null;
            $(document).ready(function () {
                playerInstance_@video.VideoID = jwplayer('Player_@video.VideoID');
                playerInstance_@(video.VideoID).setup({
                    file: '@Html.Raw(S3Download.getURL("VOD/" + video.VideoURL))',                    
                    width: 280,
                    height: 192,
                    description: 'Press Play to begin video.',
                    mediaid: '123456',
                });

            })
        </script>

    }
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("a.video-delete").click(function (e) {
                e.preventDefault();
                if (confirm('Are you sure you want to delete this video?')) {
                    var id = $(this).attr("data-id");
                    var href = $(this).attr("href");

                    $.ajax({
                        type: "GET",
                        url: href,
                        success: function (msg) {
                            if (msg == "Access Denied")
                            {
                                location.href = "/Home/NoAccess"
                            }
                            else
                            {
                                $("#map-video_" + id).slideUp();
                            }                            
                        }
                    });
                }
                else
                {
                    
                }
            });

    })
    
    </script>
    }