@model eX_Portal.exLogic.FlightMap
<section class="top-space">
  <div class="column column-half">
    <div class="title">Information</div>
    <div id="FlightInformation">
      <div id="FlightVideo">
      </div>
      <div id="FlightSummary">
        <div class="column-content" id="RpasInformation">
          <div id="GeneralInformation">
            <table class="infoTable" cellpadding="0" cellspacing="0">
              <tr>
                <td style="width:50px"><div class="FlightSummaryImage" style="background-image:url('@Model.PilotImage')"></div></td>
                <td>
                  <div>@Model.PilotName</div>
                <div>Ref#: <span>@Model.FlightID</span></div>
                </td>
                <td style="width:50px"><div class="FlightSummaryImage" style="background-image:url('/images/rpas.png')"></div></td>
                <td><div>@Model.RPAS</div>
                <div><span id="FlightInfo_FlightDate">@Model.FlightDate</span>(UTC)</div>

                </td>
              </tr>
            </table>
          </div>
        </div>

        <div id="FlightInfoNOC">
          <div>NOC: <span>@Model.ApprovalName</span></div>
        </div>

        <div class="column-content" id="FlightInformation">
          <table class="infoTable" cellpadding="0" cellspacing="0">
            <tr>
              <td>Flight Duration: <span id="FlightInfo_FlightDuration">0:00</span> Hours</td>
              <td>Altitude: <span id="FlightInfo_Altitude">0.0</span> Feet</td>
            </tr>
            <tr>
              <td>Speed: <span id="FlightInfo_Speed">0.0</span> KM/Hour</td>
              <td>Distance: <span id="FlightInfo_Distance">0.0</span> Meter</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div id="FlightGraph">

    </div>

    <div id="FlightData">
      <ul id="FlightDataHeader">
        <li>
          <ul class="FlightDataRow">
            <li class="col1">Time</li>
            <li class="col2">Mins</li>
            <li class="col3">Alt</li>
            <li class="col4">Speed</li>
            <li class="col5">Distance</li>
          </ul>
        </li>
      </ul>

      <ul id="FlightDataScroll">
        <li>
          <ul class="FlightDataRow">
            <li class="col1">Time</li>
            <li class="col2">Mins</li>
            <li class="col3">Alt</li>
            <li class="col4">Speed</li>
            <li class="col5">Distance</li>
          </ul>
        </li>
        <li>
          <ul class="FlightDataRow">
            <li class="col1">Time</li>
            <li class="col2">Mins</li>
            <li class="col3">Alt</li>
            <li class="col4">Speed</li>
            <li class="col5">Distance</li>
          </ul>
        </li>


      </ul>

    </div>

    </div>


    <div class="column column-half shaded">
      <div class="title">Flight Map</div>
      <div id="flightmap"></div>
    </div>
  </section>

  <section class="top-space">
    <div id="BarGraph"></div>
  </section>

  <p>&nbsp;</p>
  @section scripts {
    <script type="text/javascript">
      var FlightID = @Model.FlightID;
    </script>
    <script src="//code.highcharts.com/stock/highstock.js"></script>
    <script type="text/javascript" src="//maps.google.com/maps/api/js?key=AIzaSyDY6IHXH4-fUAzYq6HBR_ndu_lnyyopcTs"></script>
    <script type="text/javascript" src="~/Scripts/AgricultureCommon.js"></script>
    <script type="text/javascript" src="~/Scripts/FlightMap-Chart.js"></script>
    <script type="text/javascript" src="~/Scripts/FlightMap-Map.js"></script>
    
  }

